@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-Regular.woff2') format('woff2'),
        url('Bookerly-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geo';
    font-style: normal;
    font-weight: normal;
    src: local('Geo'), url('Geo.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media(max-width:1000px) {
    .tabs {
        display: none !important;
    }
    .more-bar{
        display:flex !important;
    }
    .website-name{
        width:50%;
    }
}
@media(max-width:1000px) {

    .title-container {
        width: 100%;
    }
}

@media(max-width:1300px) {
    .kofi-link {
        display: none;
    }
}
/* default theme */
body {
    background-color: #0e0e0e;
    position: relative;
    margin: 0;
    /*removes default margin 8px*/
    padding: 0;
}

h1 {
    font-family: 'geo', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: #f49a00;
    text-align: center;
}

h2 {
    font-family: 'geo', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: #f49a00;
    text-align: center;
}

h3 {
    font-family: 'geo', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #f49a00;
    text-align: center;
}

h4 {
    font-family: 'geo', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #f49a00;
    text-align: center;
}
h5 {
    text-align: center;
    line-height: 1.5;
    justify-content: left;
    font-size: 15px;
    font-family: 'verdana';
    color: white;
}

p {
    font-family: 'bookerly', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 3;
}

a {
    outline: none;
    /* Removes the default outline for links */
    text-decoration: none;
    /* Removes the default underline for links*/
    color: inherit;
}

a:visited {
    color: inherit;
    /* Inherit color even after the link is visited */
}

a:active {
    color: inherit;
    /* Prevent blue on active link */
}

.page-container {
    display: flex;
    position: relative;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: rgba(0, 0, 0, 0.4);
    top: -100px;
    z-index: 2;
}

.dashboard-container {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: black;
    gap: 30px;
    z-index: 2000;
    overflow: hidden;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-family: "poppins";
    font-size: 20px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

.tabs:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.tabs-font {
    font-family: "poppins";
    font-size: 20px;
    color: white;
    cursor: pointer;
}


/*dark theme*/
body.dark-theme {
    background-color: #0e0e0e;
    position: relative;
    margin: 0;
    /*removes default margin 8px*/
    padding: 0;
}

h1.dark-theme {
    font-family: 'geo', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: #f49a00;
    text-align: center;
}

h2.dark-theme {
    font-family: 'geo', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: #f49a00;
    text-align: center;
}

h3.dark-theme {
    font-family: 'geo', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #f49a00;
    text-align: center;
}

h4.dark-theme {
    font-family: 'geo', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: #f49a00;
    text-align: center;
}
h5.dark-theme {
    text-align: center;
    line-height: 1.5;
    justify-content: left;
    overflow-y: hidden;
    font-size: 15px;
    font-family: 'verdana';
    color: white;
}

p.dark-theme {
    font-family: 'bookerly', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 3;
}

.page-container.dark-theme {
    display: flex;
    position: relative;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: rgba(0, 0, 0, 0.4);
    top: -100px;
    z-index: 2;
}

.dashboard-container.dark-theme {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: black;
    gap: 30px;
    z-index: 2000;
    overflow: hidden;
}

.tabs.dark-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-family: "poppins";
    font-size: 20px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

.tabs.dark-theme:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.tabs-font.dark-theme {
    font-family: "poppins";
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.details-details-dark-theme{
    max-width: 1000px;
    width:95%;
    height:40%;
    padding-left:40px;
    padding-right:40px;
    min-height:500px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    display:flex;
    justify-content: center;
    text-align: justify;
    flex-wrap:wrap;
}


/*light theme*/
body.light-theme {
    background-color: #ffffff;
    position: relative;
    margin: 0;
    /*removes default margin 8px*/
    padding: 0;
}

h1.light-theme {
    font-family: 'geo', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: black;
    ;
    text-align: center;
}

h2.light-theme {
    font-family: 'geo', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: black;
    text-align: center;
}

h3.light-theme {
    font-family: 'geo', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    text-align: center;
}

h4.light-theme {
    font-family: 'geo', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    text-align: center;
}

h5.light-theme {
    text-align: center;
    line-height: 1.5;
    justify-content: left;
    overflow-y: hidden;
    font-size: 15px;
    font-family: 'verdana';
    color: black;
}

p.light-theme {
    font-family: 'bookerly', sans-serif;
    font-size: 20px;
    color: black;
    line-height: 3;
}

.page-container.light-theme {
    display: flex;
    position: relative;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: rgb(245, 245, 245, 0.4);
    top: -100px;
    z-index: 2;
}

.dashboard-container.light-theme {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    gap: 30px;
    z-index: 2000;
    overflow: hidden;
}

.tabs.light-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-family: "poppins";
    font-size: 20px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

.tabs.light-theme:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.tabs-font.light-theme {
    font-family: "poppins";
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.details-details-light-theme{
    max-width: 1000px;
    width:95%;
    height:40%;
    padding-left:40px;
    padding-right:40px;
    min-height:500px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    display:flex;
    justify-content: center;
    text-align: justify;
    flex-wrap:wrap;
}




/* no theme change needed down below and beyond */



.footer {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.footer:hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
}

.kofi-link {
    display: flex;
    position: fixed;
    bottom: 40px;
    left: 40px;
}

.kofi-link:hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
}

.more-bar{
    width:25px;
    height:25px;
    cursor:pointer;
    display:none;
}
.more-bar:hover{
    translate:opacity 0.3s ease-in-out;
    opacity:0.7;
}
.more-bar #img{
    position:relative;
    display:flex;
}
.more-tab-container{
    position:fixed;
    top:53px;
    right:0;
    min-width:200px;
    height:auto;
    opacity: 1;
    display:none;
    flex-direction: column;
    z-index:10000;
    border-radius:8px;
    justify-content: center;
    align-items: center;
}
.more-tab-boxes{
    width:100%;
    max-height:50px;
    background-color: rgba(0, 0, 0, 1);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:"geo", sans-serif;
    font-size: 30px;
    font-weight:800;
    color:#f49a00;
}
.more-tab-boxes:hover{
    translate:opacity 0.3s ease-in-out;
    opacity:0.7;
}