@font-face {
    font-family: 'Bookerly';
    src: url('Bookerly-Regular.woff2') format('woff2'),
        url('Bookerly-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Geo';
    font-style: normal;
    font-weight: normal;
    src: local('Geo'), url('Geo.woff') format('woff');
    }
body{
    background-color:#0e0e0e;
}
h1{
    font-family:'geo', sans-serif;
    font-size:70px;
    font-weight:bolder;
    color:#f49a00;
    text-align:center;
}
h2{
    font-family:'geo', sans-serif;
    font-size:50px;
    font-weight:bolder;
    color:#f49a00;
    text-align: center;
}
h3{
    font-family:'geo', sans-serif;
    font-size:40px;
    font-weight:bolder;
    color:#f49a00;
    text-align: center;
}
h4{
    font-family:'geo', sans-serif;
    font-size:30px;
    font-weight:bolder;
    color:#f49a00;
    text-align: center;
}
p{
    font-family:'bookerly', sans-serif;
    font-size:15px;
    color:white;
}
a{
    outline:none; /* Removes the default outline for links */
    text-decoration:none; /* Removes the default underline for links*/
}